/seeds
/test/sources/
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.txt
.markdown-preview.html
.DS_Store
.calva
bin/etl.run
sample/
.env.local
.clj-kondo/
.lsp/
.env.local
.env
.env-vars
